
.display-5 {
    color: white;
    text-align: center;
    margin-top: -35px;
}

.input-group-prepend {
    background-color: green;
}

.navbar-nav{
    background-color: green;
}

#greenCard{
    border-color: green;
}

/* color for the title in the banner */
.card-title-t {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: -1px 0 rgb(17, 117, 117), 0 1px rgb(17, 117, 117), 1px 0 rgb(17, 117, 117), 0 -1px rgb(17, 117, 117);
}

.card-title {
    color: white;
}

.card-text {
    color: white;
}

/* the text for the weather drop-down */
.card-text-w { 
    color: white;
}

.card-header {
    color: white;
}
/* Set the size of the div element that contains the map */
#googleMap {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    margin-top: 10px;
   }

#trailCard {
    background-color: green;
    color: white;
    text-align: center;
}

hr {
    background-color: green;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(49, 49, 49);
   color: white;
   text-align: center;
}

